/* General Styles */
:root {
    --primary-color: #ff6464;
    --dark-color: #21243d;
}

body {
    font-family: "Heebo", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--dark-color);
}

section img {
    width: 100%;
}

.container {
    padding: 2.5rem;
    max-width: 1000px;
    margin: auto;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #000;
}

/*Nav Bar*/
nav ul {
    justify-content: end;
}

nav ul li {
    margin-right: 2.5rem;
    font-weight: bold;
}

.active {
    color: var(--primary-color);
}

/* Base Style */
.year-type-text {
    display: flex;
    align-items: flex-start;
}

.year-text {
    background-color: #142850;
    font-size: 1.125rem;
    border-radius: 16px;
    padding: 3px 5px;
    color: white;
    font-weight: 900;
    width: fit-content;
    height: fit-content;
}

.types-text {
    font-size: 1.25rem;
    margin: 0;
    margin-left: 15px;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    color: #333;
    margin-top: 3.125rem;
}

footer ul {
    justify-content: center;
}

footer ul li a {
    color: var(--dark-color);
}

footer i {
    margin-inline: 10px;
}
